@import url('https://fonts.googleapis.com/css?family=Lato:300,400');
body {
    align-items: center;
    background: #EBEBEB;
    display: flex;
    font-family: 'Lato';
    height: 100vh;
    justify-content: center;
    overflow: hidden;
    width: 100vw;
}

.App {
    background: #EBEBEB;
    -moz-box-shadow: 0px 0px 80px 20px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0px 0px 80px 20px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 80px 20px rgba(0,0,0,0.4);
    height: 568px;
    perspective: 0 200px;
    position: relative;
    width: 320px;
}
